// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom CSS
.border-2 {
    border-width: 2px !important;
}

.border-orange {
    border-color: $orange !important;
}

.border-no-right {
    border-right: none;
}

.dingg-border {
    border-top: 2px solid $orange !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid $success !important;
}

.fb-50 {
    filter: brightness(50%);
    transition: all 0.5s;
}

.card-hover-blur:hover .fb-50 {
    filter: brightness(50%) blur(5px);
    cursor: pointer;
}

.rounded-2 {
    border-radius: $border-radius * 2 !important;
}

.on-top {
    position: relative;
    z-index: 10;
}
